.select2-results__option[id*="2025"]:before,
.card_2025 .image{background-image:url(https://live.staticflickr.com/65535/54985821839_e440c7d7f1_o.png); }

/* .select2-results__option[id*="2025"]:before,
.card_2025 .image{background-image:url(https://live.staticflickr.com/65535/54985575346_54d7c055ae_o.png); } */

.select2-results__option[id*="2024"]:before,
.card_2024 .image{background-image:url(https://live.staticflickr.com/65535/54200789575_7a9566cdf2_o.png); }
.select2-results__option[id*="2023"]:before,
.card_2023 .image{background-image:url(https://live.staticflickr.com/65535/53401865144_4ed2160269_o.png); }
.select2-results__option[id*="2022"]:before,
.card_2022 .image{background-image:url(https://live.staticflickr.com/65535/52565336729_18db5ca282_o.png); }
.select2-results__option[id*="2021"]:before,
.card_2021 .image{background-image:url(https://live.staticflickr.com/65535/51742656620_8ec4431cbe_o.jpg); } 
.select2-results__option[id*="2020"]:before,
.card_2020 .image{background-image:url(https://live.staticflickr.com/65535/50722763657_066e6f122e_c.jpg); }
.select2-results__option[id*="2019"]:before,
.card_2019 .image{background-image:url(https://live.staticflickr.com/65535/50721937843_909469523d_o.png); }
.select2-results__option[id*="2018"]:before,
.card_2018 .image{background-image:url(https://live.staticflickr.com/65535/49159161297_c6c1c1152b_o.png); }
.select2-results__option[id*="2017"]:before,
.card_2017 .image{background-image:url(https://live.staticflickr.com/4830/46274235952_9c58f026cb_o.png); }
.select2-results__option[id*="2016"]:before,
.card_2016 .image{background-image:url(https://live.staticflickr.com/4913/46274236242_4f79dfb77f_o.png); }
.select2-results__option[id*="2015"]:before,
.card_2015 .image{background-image:url(https://live.staticflickr.com/4867/45411941105_b1c28f7015_o.png); }
.select2-results__option[id*="2014"]:before,
.card_2014 .image{background-image:url(https://live.staticflickr.com/4809/46274238622_531a2bdb3d_o.png); }
.select2-results__option[id*="2013"]:before,
.card_2013 .image{background-image:url(https://live.staticflickr.com/4911/45411940955_cd2274f828_o.png); }
.select2-results__option[id*="2012"]:before,
.card_2012 .image{background-image:url(https://live.staticflickr.com/4835/46274238942_c9f8d82705_o.png); }
.select2-results__option[id*="2011"]:before,
.card_2011 .image{background-image:url(https://live.staticflickr.com/4841/46274239012_ce2d4897fd_o.png); }
.select2-results__option[id*="2010"]:before,
.card_2010 .image{background-image:url(https://live.staticflickr.com/4889/45411941755_d72f26e5ea_o.png); }
.select2-results__option[id*="2009"]:before,
.card_2009 .image{background-image:url(https://live.staticflickr.com/4868/46274238922_af2304c15a_o.png); }
.select2-results__option[id*="2008"]:before,
.card_2008 .image{background-image:url(https://live.staticflickr.com/4892/45411941525_f3a7bfd115_o.png); }
.select2-results__option[id*="2007"]:before,
.card_2007 .image{background-image:url(https://live.staticflickr.com/4907/46274238882_c55ace74a3_o.png); }
.select2-results__option[id*="2006"]:before,
.card_2006 .image{background-image:url(https://live.staticflickr.com/4871/45411941365_0c597dd044_o.png); }
.select2-results__option[id*="2005"]:before,
.card_2005 .image{background-image:url(https://live.staticflickr.com/4814/45411941415_4fd3a35811_o.png); }
.select2-results__option[id*="2004"]:before,
.card_2004 .image{background-image:url(https://live.staticflickr.com/4905/46274238772_534ab1623c_o.png); }
.select2-results__option[id*="2003"]:before,
.card_2003 .image{background-image:url(https://live.staticflickr.com/4857/46274238632_3775a5d856_o.png); }
.select2-results__option[id*="2002"]:before,
.card_2002 .image{background-image:url(https://live.staticflickr.com/4820/46274238692_91297a8458_o.png); }
.select2-results__option[id*="2001"]:before,
.card_2001 .image{background-image:url(https://live.staticflickr.com/4918/31385514917_a03aaed998_o.png); }
.select2-results__option[id*="2000"]:before,
.card_2000 .image{background-image:url(https://live.staticflickr.com/4822/46274239032_bb16d343b4_o.png); }
.select2-results__option[id*="1999"]:before,
.card_1999 .image{background-image:url(https://live.staticflickr.com/4902/46274239052_ce88068977_o.png); }
.select2-results__option[id*="1998"]:before,
.card_1998 .image{background-image:url(https://live.staticflickr.com/4816/46274239092_41409c8a8a_o.png); }




